#container{
    display:flex;
  }
  #sidebar{
    flex:1;
    border:1px solid black;
  }
  #main{
    flex:9;
  }
  #sidebar > p,
  #sidebar > h1{
    border:1px solid black;
  }
  #news{
    display :flex;
    border:1px solid black;
  }
  #news >div{
    border:1px solid black;
    width:32%;
    margin:10px 
  }
#news >img{
width:32%;
height: 200px;
margin:10px 
}